# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "68c92aac9cf4890ec0cdc0ce87014cf1"
name = "Lodestar"
application_url = "https://app.lodestaranalytics.io"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "test-auth-1-2.myshopify.com"

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = ["app/uninstalled"]
  uri = "https://api.lodestaranalytics.io/webhooks/customers/data_request"
  compliance_topics = [ "customers/data_request" ]

  [[webhooks.subscriptions]]
  topics = ["app/uninstalled"]
  uri = "https://api.lodestaranalytics.io/webhooks/customers/redact"
  compliance_topics = [ "customers/redact" ]

  [[webhooks.subscriptions]]
  topics = ["app/uninstalled"]
  uri = "https://api.lodestaranalytics.io/webhooks/shop/redact"
  compliance_topics = [ "shop/redact" ]

  [[webhooks.subscriptions]]
  topics = [
  "orders/create",
  "orders/updated",
  "products/create",
  "products/update",
  "customers/create",
  "customers/update"
]
  uri = "https://api.lodestaranalytics.io/webhooks/ingest"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_fulfillments,read_inventory,read_orders,read_products"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://api.lodestaranalytics.io/auth/callback",
  "https://api.lodestaranalytics.io/auth/top"
]

[pos]
embedded = false
